<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Receiver Detail</h4>
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-wd btn-info btn-fill mx-2" (click)="cancel()">BACK TO LIST</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Id</strong></td>
                                <td [innerText]="receiver.id"></td>
                            </tr>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td [innerText]="receiver.name"></td>
                            </tr>
                            <tr>
                                <td><strong>Url</strong></td>
                                <td [innerText]="receiver.url"></td>
                            </tr>
                            <tr>
                                <td><strong>Path</strong></td>
                                <td [innerText]="receiver.path"></td>
                            </tr>
                            <tr>
                                <td><strong>Headers</strong></td>
                                <td>
                                    <div *ngFor="let item of receiver.headers | keyvalue" style="margin: 5px 0">
                                        <strong [innerText]="item.key"></strong>
                                        <div [innerText]="item.value"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Query Strings</strong></td>
                                <td>
                                    <div *ngFor="let item of receiver.queryStrings | keyvalue" style="margin: 5px 0">
                                        <strong [innerText]="item.key"></strong>
                                        <div [innerText]="item.value"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Created Date</strong></td>
                                <td [innerText]="receiver.createdDate | date: 'dd.MM.yyyy HH:mm'"></td>
                            </tr>
                            <tr>
                                <td><strong>Updated Date</strong></td>
                                <td [innerText]="receiver.updatedDate | date: 'dd.MM.yyyy HH:mm'"></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-wd btn-primary btn-fill mx-2" (click)="edit()">EDIT</button>
                            <button type="button" class="btn btn-sm btn-wd btn-danger btn-fill mx-2" (click)="delete()">DELETE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>