.mx-1 {
    margin-left: 1px;
    margin-right: 1px;
}

.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}

.mx-3 {
    margin-left: 3px;
    margin-right: 3px;
}

.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 6px;
}

.my-1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.my-2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.my-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 6px;
}

label > span {
    font-size: 14px;
    opacity: 0.5;
}