<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Edit Sender</h4>
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-wd btn-info btn-fill mx-2" (click)="cancel()">BACK TO LIST</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="content">
                    <form [formGroup]="senderForm" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Name <span>required</span></label>
                                    <input id="name" type="text" class="form-control border-input" placeholder="Name" formControlName="name">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-sm btn-wd btn-success btn-fill mx-2" (click)="save()" [disabled]="!senderForm.valid">SAVE</button>
                                <button type="button" class="btn btn-sm btn-wd btn-danger btn-fill mx-2" (click)="cancel()">CANCEL</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>